body{
  margin: 0;
  padding: 0;
}
.editing{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.editbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.rowedit{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}